body{
	
	background: url("images/ocean.png");
	background-size: cover;
	color:yellow;
	font-family: Helvetica, Arial, sans-serif;
}
.ogreintro{
	cursor:url("images/ogre.png"),default;
}
.ogreintro:hover{
	color: #035207;
	text-decoration: none;
}
.donkeyintro{
	cursor:url("images/purpledonkey.jpeg"),default;
}
.donkeyintro:hover{
	color: purple;
	text-decoration: none;
}
.firstlink:hover{
	color: #610d03;
	font-size:bold;
}
.title{
	border: 3px;
	padding:8px;
	background: black;
}

p {
	border 3px;
	padding: 8px;
	color:red;
	background:black;
	display:inline-block;
	opacity:0.75;
}